/*
    Minimal test program for ${PACKAGE}, verifying basic functionality
    and compatibility with MXE static builds on Windows.

    To compile with MXE (example):

    ./usr/bin/${TARGET}-${COMPILER} \
        src/${PACKAGE}-test.cpp \
        -I usr/${TARGET}/include \
        -L usr/${TARGET}/lib \
        ${DEPENDENCIES} \
        -o usr/${TARGET}/bin/test-${PACKAGE}.exe
*/

${INCLUDES}

int main() {
    return 0;
}
