/*
    This file is part of MXE. See LICENSE.md for licensing information.

    Initial test file scaffold generated using the "gsrc" tool:
    https://github.com/hkunz/git-fetcher

    Compilation (pkg-config):

    ./usr/bin/${TARGET}-${COMPILER} \
        src/${PACKAGE_NAME_MXE}-test.${TEST_LANG} \
        $(./usr/bin/${TARGET}-pkg-config --cflags --libs ${TESTFILE_PC_FILE_NAME}) \
        -o usr/${TARGET}/bin/test-${PACKAGE_NAME_MXE}.exe

    Compilation (manual):

    ./usr/bin/${TARGET}-${COMPILER} \
        src/${PACKAGE_NAME_MXE}-test.${TEST_LANG} \
        -I usr/${TARGET}/include \
        -L usr/${TARGET}/lib \
        ${DEPENDENCIES} \
        -o usr/${TARGET}/bin/test-${PACKAGE_NAME_MXE}.exe
*/

${INCLUDES}

int main() {
    printf("Add your test code here inside main()\n");
    return 0;
}
