/*
    Minimal test program for ${PACKAGE_NAME_MXE}, verifying basic functionality
    and compatibility with MXE static builds on Windows.

    To compile with MXE (example):

    ./usr/bin/${TARGET}-${COMPILER} \
        src/${PACKAGE_NAME_MXE}-test.${TEST_LANG} \
        -I usr/${TARGET}/include \
        -L usr/${TARGET}/lib \
        ${DEPENDENCIES} \
        -o usr/${TARGET}/bin/test-${PACKAGE_NAME_MXE}.exe
*/

${INCLUDES}

int main() {
    printf("Add your test code here inside main()\n");
    return 0;
}
